body {
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
  }

.calculator{
    padding: 20px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

.input{
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2rem;
    overflow-x: auto;
}

.operators div{
  display: inline-block;
  width: 80px;
  border: 1px solid #bbb;
  border-radius: 1px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 3px;
  background-color: #bbb;
  cursor: pointer; 
}

.numbers div{
    display: inline-block;
    width: 80px;
    border: 1px solid #bbb;
    border-radius: 1px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    background-color: #ddd; 
    cursor: pointer;
}

#result { 
    background-color: #4d90fe;
  }

